# data files and dirs
*-data/
data-*/
data/

# log files and dirs
*-logs/
logs-*
logs/
*.log

# secrets and sensetive files
.env

# volume dir
volume/

# other
redis.conf/
letsencrypt/
auth/
certs/
db/
file/
policies/
