# data directories
grafana-data/
prometheus-data/
portainer-data/
postgres-data/
redis-data/
redis.conf/
pgadmin-data/
data/
letsencrypt/
airflow-data/
auth/
certs/
db/

# secrets and sensetive files
.env
*-secrets.*
*-secret.*
